.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select{
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}
.lista-suspensa span{
    font-size: 15px;
    padding: 3px;
    color: red;
    display: none;
}

select option[value=""], select:not [focused="true"]{
    border: 1px solid red;
}

select option[value=""], select option:not([value]) ~ span{
    display: block;
}
